body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
}

.left {
  left: 0;
  width: 10%;
  overflow-y: auto;
}

#get_file,
#chooseFile_btn,
#choose3dmFile_btn {
  background: green;
  width: 95%;
  table-layout: fixed;
  /* margin: 5px; */
  border-radius: 6px;
  color: white;
  padding: 1px;
}

#my_file {
  display: none;
}

#rh3dm_file {
  display: none;
}

.right {
  /* position: absolute; */
  left: 10%;
  height: 100%;
  width: 90%;
  display: flex;
}

#canvas {
  left: 0;
  right: 50.1;
  height: 100%;
  width: 50%;
}

#canvas1 {
  right: 0;
  left: 50.1;
  height: 100%;
  width: 50%;
}

#get_file,
#chooseFile_btn,
#choose3dmFile_btn {
  background: green;
  width: 95%;
  table-layout: fixed;
  /* margin: 5px; */
  border-radius: 6px;
  color: white;
  padding: 1px;
}

#my_file {
  display: none;
}

#labels {
  position: absolute;
  /* let us position ourself inside the container */
  left: 0;
  /* make our position the top left of the container */
  top: 0;
  font-family: arial;
}

#labels>div {
  position: absolute;
  /* let us position them inside the container */
  left: 0;
  /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;
  /* change the cursor to a hand when over us */
  font-size: 20px;
  user-select: none;
  /* don't let the text get selected */
  border-width: 1px;
  border: 3px #000;
  border-style: ridge;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #add8e6;
}